{% extends 'base.html' %}
{% block content %}

<h1>Monster Details</h1>
<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ monster.name }}</span>
                <p>Type: {{ monster.type }}</p>
                <p>Size: {{ monster.size }}</p>
                <p>Alignment: {{ monster.alignment }}</p>
                <p>Armor Class: {{ monster.armor_class }}</p>
                <p>Description: {{ monster.description }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'monsters_update' monster.id %}">Edit</a>
                <a href="{% url 'monsters_delete' monster.id %}">Delete</a>
            </div>
        </div>
    </div>

    <div class="col s6">
        <form action="{% url 'add_loot' monster.id %}" method="POST">
            {% csrf_token %}
            {{ loot_form.as_p }}
            <input type="submit" class="btn" value="Add Loot">
        </form>
        <table class="striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for loot in monster.loot_set.all %}
                <tr>
                    <td>{{loot.name}}</td>
                    <td>{{loot.description}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

<hr>
<div class="row">
    <div class="col s6">
        <h3>Places where {{ monster.name }} might be</h3>
        {% if monster.dungeons.count %}
        {% for dungeon in monster.dungeons.all %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                    {{ dungeon.name }}
                </span>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h5>No Dungeons 🏰</h5>
        {% endif %}
    </div>


    <div class="col s6">
        <h3>Other Places</h3>
        {% if dungeons.count %}
        {% for dungeon in dungeons.all %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                    {{ dungeon.name }}
                </span>
            </div>
            <div class="card-action">
                <form action="{% url 'assoc_dungeon' monster.id dungeon.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn">Add</button>
                </form>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h5>{{ monster.name }} is Already Found Everywhere</h5>
        {% endif %}
    </div>
</div>

{% endblock %}